*::before,
*::after,
*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
@media only screen and (max-width: 37.5em){
    html{
        font-size: 50%;
    }
}

body{
    overflow: hidden;
}

main{
    display: flex;
    width: 100%;
    
}


.menu{
    background-color: #000;
    display: flex;
    width: 5%;
    height: 100vh; 
    flex-direction: column;
    align-items: center;
    position: absolute;
    
}
@media only screen and (max-width: 37.5em){
    .menu{
        width: 10%;
        height: auto;
    }
}


.menu > *{
    margin-top: 2rem;
}

.color-box{
    border: 1px solid #fff;
    height: 3rem;
    width: 3rem;
}

.color-box:hover > *{
    display: block;
    
}

.color:focus{
    display: block;
}

.color{
    display: none;
}

.thickness{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ivory;
    height: 3rem;
    width: 3rem;
}
.thickness::after{
    content: "";
    height: 50%;
    width: 50%;
    border-radius: 100%;
    background-color: #000;
}

.thickness:hover > *{
    display: block;
    
}

.thick{
    display: none;
    text-align: center;
}

.thick:focus{
    display: block;
}

.clear{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
}

.canvas-box{
    width: 95%;
}

